<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <% recipes.forEach((recipe) => { %>
    <div class="col">
      <div
        class="card"
        id="card-<%= recipe.name.replace(/\s+/g, '-') %>"
        aria-label="Chef's dish: <%= recipe.name %>"
      >
        <img
          src="<%= recipe.path %>"
          class="card-img-top"
          alt="Dish prepared by the chef: <%= recipe.name %>"
        />
        <div class="card-overlay">
          <h5 class="card-title"><%= recipe.name %></h5>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
